# IDE's files
**/.vscode
**/__pycache__/
.idea

# Agentic Coding
.claude/
.codex/
./opencode.json

# Python libraries, build files and uv package manager
.venv/
build/
uv.lock

# Local outputs
output/storage/
output/charts/
output/logs/
src/arco.egg-info/
